p{
    background-color: darkblue;
    color: white;
    font-weight: bold;
    width: 45%;
    /* display: inline;  */
    float: left;
}

img{
    height: 300px;
    display: block;
    margin: auto;
}

h1{
    margin: auto;
    background-color: crimson;
    color: white;
    width: 40%;
    text-align: center;
}
